@{
    ViewData["Title"] = "Home Page";
}

@model Dish

<form action="/update/@Model.DishId" method="post" class="form-group">
<label for="ChefsName">Chef's Name:</label>
<input asp-for="Chef" class="form-control">
<span asp-validation-for="Chef" class="text-danger"></span>
<label for="DishName">Name of Dish:</label>
<input asp-for="Name" class="form-control">
<span asp-validation-for="Name" class="text-danger"></span>
<label for="Calories">Calories:</label>
<input asp-for="Calories" class="form-control">
<span asp-validation-for="Calories" class="text-danger"></span>
<label for="Tastiness">Tastiness</label>
<input asp-for="Tastiness" class="form-control">
<span asp-validation-for="Tastiness" class="text-danger"></span>
<label for="Description">Description:</label>
<textarea asp-for="Description" cols="30" rows="10" class="form-control"></textarea>
<span asp-validation-for="Description" class="text-danger"></span>
<input type="submit" class="btn btn-danger" value="Add Dish">
</form>